<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<form id="verifyForm" name="verifyForm" class="form-horizontal" role="form">
					<div class="form-group">
					    <label for="tok" class="col-md-2 control-label">Token (*)</label>
						<div class="col-md-10">
			     			<input type="text" name="tok" placeholder="" class="form-control" ng-model="jwt.tok" ng-required="true" />
			     		</div>
					</div>
					<div class="form-group">
					    <label for="key" class="col-md-2 control-label">Key</label>
						<div class="col-md-10">
			     			<input type="text" name="key" placeholder="" class="form-control" ng-model="jwt.key" />
			     		</div>
					</div>
					<div class="form-group">
					    <label for="iss" class="col-md-2 control-label">Issuer</label>
						<div class="col-md-10">
			     			<input type="text" name="iss" placeholder="if you want to check issuer, provide a value here" class="form-control" ng-model="jwt.iss" />
			     		</div>
					</div>
					<div class="form-group">
					    <label for="aud" class="col-md-2 control-label">Audience</label>
						<div class="col-md-10">
			     			<input type="text" name="aud" placeholder="if you want to check audience, provide a value here" class="form-control" ng-model="jwt.aud" />
			     		</div>
					</div>
				</form>
				<button id="example2" class="btn btn-primary center-block" ng-disabled="verifyForm.$invalid" ng-click="verify()">Verify JWT</button>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Example 1: key and no expiration</div>
			<div class="panel-body">
				<b>Key</b> secretKey<br>
				<b>JWT Header</b> { "typ": "JWT", "alg": "HS256" }<br>
				<b>JWT Claims</b> { "iss": "issuer", "sub": "subject", "aud": "audience", ""exp": 0, "iat": 1391705213 }<br>
				<button id="example1" class="btn btn-default center-block" ng-click="getExample1()">Grab this example</button>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Example 2: expiration and no key</div>
			<div class="panel-body">
				<b>Key</b> none<br>
				<b>JWT Header</b> { "alg": "none" }<br>
				<b>JWT Claims</b> { "iss": "joe", "exp": 1300819380, "http://example.com/is_root": true }<br><br>
				<button id="example2" class="btn btn-default center-block" ng-click="getExample2()">Grab this example</button>
			</div>
		</div>
	</div>
</div>
	

